body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  background: linear-gradient(-45deg, #0a0a0a, #1c1c1c, #2e2e2e, #1a1a1a);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  color: #fff;
}

.test-container {
  background: url('tekisolutions_b-50.png');
  background-position: center right;
  background-size: object-fit;
  background-repeat: no-repeat;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#chat-container {
  background: #252526;
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #3c3c3c;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  background-color: #1e1e1e;
  font-family: 'Source Code Pro', monospace;
}

#chat div {
  margin-bottom: 10px;
}

.user {
  text-align: right;
  color: #ffffff;
  background-color: #008080;
  padding: 8px 12px;
  border-radius: 0px;
  display: inline-block;
}

.bot {
  text-align: left;
  color: #ffffff;
  background-color: #2d2d2d;
  padding: 8px 12px;
  border-radius: 0px;
  display: inline-block;
}

#messageInput {
  width: calc(100% - 80px);
  padding: 10px;
  border: 1px solid #3c3c3c;
  border-radius: 0px;
  outline: none;
  color: #d4d4d4;
  background-color: #1e1e1e;
}

#messageInput:focus {
  border-color: #008080;
  background-color: #252526;
}

#sendBtn {
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  margin-left: 10px;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

#sendBtn:hover {
  background-color: #005999;
}

#sendBtn:focus {
  border: 1px solid #005999;
}

h1 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}


/* Maintenance container styling */
#maintenance-container {
  background-color: #252526;
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/* Title styling */
#maintenance-container h1 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Paragraph styling */
#maintenance-container p {
  font-size: 16px;
  line-height: 1.5;
  color: #cccccc;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 30px;
}

/* Loader styling */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #008080;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

/* Loader animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Responsive adjustments */
@media screen and (max-width: 480px) {
  #maintenance-container {
    padding: 20px;
  }

  #maintenance-container h1 {
    font-size: 22px;
  }

  #maintenance-container p {
    font-size: 14px;
  }
}

section {
  width: 100%;
}

.test-board {
  box-shadow: 23px 22px 0px -5px #754fa4, -23px -22px 0px -5px #008080;
  background-color: #1e1e1e;
  padding: 30px;
}

.cheet-btn {
  background-color: #008080 !important;
  color: #fff;
  border-radius: 0px;
  border: none !important;
}

#progress-container {
  position: absolute;
  bottom: 0;
  width: 83%;
  background-color: #333;
  height: 5px;
  margin: 10px 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #008080, #754fa4);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

#score-container {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

#score {
  color: #008080; /* Change color to your preferred score color */
}